.Alert {
  color: red;
  background-color: rgb(242, 222, 222);
  border: 1px solid rgb(238, 211, 215);
  cursor: pointer;
  width: 50%;
}

.success {
  color: green;
  background-color: lightgreen;
  border: 1px darkgreen;
  cursor: pointer;
  width: 50%;
}
