div {
  border-bottom: double;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4caf50;
  border: 1px, solid #555;
}

.item {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline;
  float: left;
  border: 1px solid #555;
  cursor: grab;
}

.item:hover {
  background-color: #333;
}
